
  <% if @subscription.errors.any? %>
    <div id='error_expl' class='panel panel-danger'>
      <div class='panel-heading'>
        <h3 class='panel-title'>
          <%= pluralize(@subscription.errors.count, 'error') %>
          prohibited from being saved:
        </h3>
      </div>
      <div class='panel-body'>
        <ul>
        <% @subscription.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class='control-group'>
    <%= label_tag nil, 'Pack' , { class: 'control-label'} %>
    <div class='controls'>
    <% if @subscription.plan.nil? %>
      <%= select_tag :subscription_pack_id,
                   options_from_collection_for_select(@packs, 'id', 'name'),
                  { prompt: 'Select pack', class: 'form-control'} %>
    <% else %>
      <%= select_tag :subscription_pack_id,
        options_from_collection_for_select(@packs, 'id', 'name',
          @subscription.plan.pack.id),
            { prompt: 'Select pack', class: 'form-control'}%>
    <% end %>
    </div>
  </div>

  <div class='control-group'>
    <div class='controls'>
      <%= f.hidden_field :mobile_user_id,
                  {class: 'form-control', value: params[:customer_id]} %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :plan_id, class: 'control-label' %>
    <div class='controls'>
    <% if @subscription.plan.nil? %>
      <%= f.select :plan_id,{},
        { prompt: 'Select Plan' },{class: 'form-control'} %>
    <% else %>
      <%= f.select :plan_id,
        [
          [@subscription.plan.name,
            @subscription.plan.id]
        ], { prompt: 'Select Plan' },{class: 'form-control'} %>
    <% end %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :start_at, class: 'control-label date-field' %>
    <div class='controls'>
      <%= f.text_field :start_at, class: 'form-control date-field' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :payment_type, class: 'control-label' %>
    <div class='controls'>
      <%= f.select :payment_type,
         options_for_payment_type,{}, {class: 'form-control'} %>
    </div>
  </div><br/>

   <!-- <div class='control-group'>
    <%#= f.label :is_active, class: 'control-label' %>
    <div class='controls'>
      <%#= f.check_box :is_active, {class: 'form-control'} %>
    </div>
  </div></br> -->
  </br>
  <%= f.submit nil, class: 'btn btn-primary ' %></br>
