<%- model_class = Feedback -%>
<div class='page-header'>
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:customer) %></th>
      <th><%= model_class.human_attribute_name(:feedback_category) %></th>
      <th><%= model_class.human_attribute_name(:feedback) %></th>
      <th><%= model_class.human_attribute_name(:admin_comment) %></th>
      <th><%= model_class.human_attribute_name(:is_resolved) %></th>
      <th><%=t '.actions', default: t('helpers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each_with_index do |feedback, index| %>
      <tr>
        <td><%= link_to model_index(index), feedback_path(feedback) %></td>
        <td><%= feedback.mobile_user.full_name if feedback.mobile_user.present? %></td>
        <td><%= feedback.feedback_category.name if feedback.feedback_category.present? %></td>
        <td><%= truncate_html(feedback.text) unless feedback.text.nil? %></td>
        <td><%= truncate_html(feedback.admin_comment) unless feedback.admin_comment.nil? %></td>
        <td><%= feedback.is_resolved %></td>
        <td>
          <%= link_to t('.edit', default: t('helpers.links.edit')),
                      edit_feedback_path(feedback), class: 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', default: t('helpers.links.destroy')),
                      feedback_path(feedback),
                      method: :delete,
                      data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
                      class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @feedbacks, renderer: BootstrapPagination::Rails %>
